@media screen and (max-width: 1024px) {
    .picture {
        margin: 0 48px;
    }

    .picture__main-image {
        width: 928px;
        height: 580px;
    }

    .title{
        padding-top: 48px;
    }
    .subtitle {
        margin-bottom: 56px;
    }

    .description {
        width: 67.38%;
        margin-left: 48px;
    }

    .gallery__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    .place {
        max-width: 95.31%; /*976px; */
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
        margin: 0 48px 80px 48px; 
    }
    .place__text {
        max-width: 456px;
    }

    .place__title {
        max-width: 440px;
    }


}
/*  */
@media screen and (max-width: 768px) {
    .header {
        padding: 0 24px;
    }
    .picture__main-image {
        width: 768px;
        height: 480px;
    }
    .picture {
        margin: 0 auto;
    }

    .description {
        width: 93.75%;
        margin-left: 24px;
        margin-top: 88px;
    }
    .gallery__container {
        grid-template-columns: repeat(2, 1fr);
        padding: 88px 24px;
    }

    .place__title {
        font-size: 42px;
        line-height: /*46px;*/109.524%;
        max-width: 340px;
        /* min-height: 92px; */
    }

    .place__text {
        font-size: 16px;
        max-width: 352px;
    }

    .place {
        max-width: 95.31%; /*976px; */
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
        margin: 0 24px 73px 24px;
    }
}


/*  */
@media screen and (max-width: 320px) {
    .header {
        padding: 0 16px;
    }

    .logo_place_header {
        margin-top: 16px;
        background-size: 142px 42px;
    }

    .header__lang-links {
        margin-top: 30px;
    }

    .header__lang-link {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.11;
    }

    .picture__main-image {
        width: 320px;
        height: 200px;
    }

    .picture {
        margin: 0 auto;
    }

    .title{
        line-height: 1.1;
        font-weight: 900;
        font-size: 40px;
        margin: 0 16px 16px 16px;
        max-width: 288px;
        min-height: 88px;
        padding: 0;
        padding-top: 26px;
        font-style: normal;
        letter-spacing: 1.01px;
    }

    .subtitle {
        max-width: 288px;
        min-height: 40px;
        line-height: 1.25;
        font-weight: normal;
        font-size: 16px;
        margin: 0 auto 40px auto;
        padding: 0;
    }

    .description {
        width: 90%;
        margin: 64px auto 0 16px;
    }

    .description__title {
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 109.375%;
    }

    .gallery__container {
        grid-template-columns: repeat(1, 1fr);
        padding: 64px 16px;
        gap: 12px;
    }

    .place {
        max-width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        column-gap: unset;
        row-gap: 32px;
        margin: 0 0 50px 0; 
    }

    .card-item:nth-child(1) {
        grid-row: 1 / 1;
        margin: 0 16px; 
    }
    
    .card-item:nth-child(2) {
        grid-row: 3 / 3;
        margin: 0; 
        width: 100%;

    }
    
    .card-item:nth-child(3) {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        align-self: unset;
        margin: 0 16px; 
    }
    
    .card-item:nth-child(4) {
        grid-column: 1 / 1;
        grid-row: 4 / 4;
        margin: 0 16px;    
    }

    
    .place__text {
        max-width: 288px;
    }

    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 109.375%; /* 35px */
        /* min-height: unset; */
    }
    .place__contact {
        margin-top: 0;
    }

}