.footer__navigation-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 18px;
}
@media screen and (max-width: 700px) {
    .footer__navigation-list {
        flex-direction: column;
        row-gap: 32px;
    }
}